body{
  background: #fff;
}
.banner{
	background: #008dd8;
	min-height: 500px;
}

.logo{
	text-align: center;
	margin-top: 50px;
}

.text-center{
	text-align: center;
}

.center{
  margin: 0 auto;
}

.hero-unit{
	background-color: transparent;
}
.hero-unit h1{
	color: white;
	font-size: 50px;
	line-height: 60px;
	margin-top: 30px;
	font-weight: 100px;
}

.hero-unit p{
	color: #5cb6e6;
	margin-top: 10px;
	line-height: 20px;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

section.banner{
  margin: 0;
}

section{
  margin: 50px 0 50px 0;
}

section h2{
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}

.mais h2{
  color: #008dd8;
}

.mais-color{
  background: #eeeeee;
  padding: 50px 0 50px 0;
  margin: 0;
}

p .mais{
  paddin-left: 50px;
}

section h3{
  color: #868787;
	margin-top: 10px;
	line-height: 20px;
	font-size: 28px;
}

article h4{
  color: #444445;
  margin: 50px 0 20px 0;
  font-size: 25px;
}

article h5{
  color: #444445;
  margin: 50px 0 20px 0;
  font-size: 18px;
  text-align: center;
}

article p{
  font-size: 18px;
  line-height: 30px;
  color: #868787;
}

ul li{
  line-height: 30px; 
  list-style: none;
}

i{
  padding-left: 0px;
}

.cta{
  margin-bottom: 80px;
}

.number{
  position: relative;
  display: inline-block;
  height: 49px;
  width: 49px;
  margin-right: 10px;
  background: #fff;
  border: 3px solid #008dd8;
  border-radius: 28px;
  color: #008dd8;
  line-height: 49px;
  text-align: center;
}

.btn-large.cta-one{
	line-height: 70px;
	background: #5cb6e6;
	color: white;
	border: none;
	padding: 0 40px 0 40px;
}

a:hover.btn-large.cta-one {
	background: #73c9f8;
}

.btn-large.cta-two{
	line-height: 70px;
	background: white;
	color: #484846;
	padding: 0 40px 0 40px;
	margin-left: 20px;
}

.projetos{
  margin-bottom: 1px;
}

.screenshots {
position: relative;
min-height: 300px;
max-width: 740px;
padding: 0 100px;
margin: 0 auto;
}

.screenshots div {
  position: absolute;
  background: url("../img/screenshots.jpg") 0 0 no-repeat;
  left: 50%;
  bottom: 0;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 10px 0;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 0 10px 0;
  box-shadow: rgba(0,0,0,0.3) 0 0 10px 0;
}

.screenshots .screenshot-1 {
z-index: 20;
background-position: 0 0;
width: 361px;
height: 207px;
margin-left: -65.21276596%;
}

.screenshots .screenshot-2 {
z-index: 10;
background-position: 0 -257px;
width: 484px;
height: 292px;
margin-left: -48.40425532%;
}

.screenshots .screenshot-3 {
z-index: 30;
background-position: 0 -594px;
width: 325px;
height: 200px;
margin-left: -16.59574468%;
}

.screenshots .screenshot-4 {
z-index: 40;
background-position: 0 -873px;
width: 314px;
height: 271px;
margin-left: 11.06382979%;
}

.screenshots .screenshot-5 {
z-index: 50;
background-position: 0 -1194px;
width: 378px;
height: 200px;
margin-left: 26.4893617%;
}

.deadline .span2 {
  background: #eee;
  margin: 0px;
  padding: 25px;
}

.bar{
  background: #666;
  min-height: 10px;
  margin-bottom: 30px;
}